/* page-select */
  .page-select {
    display: flex;
    align-items: center;
    background-color: Black;
    overflow: hidden;
  }

  /* page-select item */
  .page-select 
    a { /* a = anchor */
      float: left;
      font-size: .7em;
      font-weight: bold;
      color: white;
      text-decoration: none;
      padding-right: 1em;
      padding-left: 1em;
  }

da { /* da = domain-anchor */
  font-size: 1.4em;
  padding: 0px 1em 0px 0.5em;
}
